<%- include('./partials/header.ejs')  %> 
<%- include('./partials/nav.ejs')  %> 
<body>
    <form action="/sign-up" method="post" enctype="multipart/form-data">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name" value="<%= typeof form!='undefined'?form.first:''  %> " required>

        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name"value="<%= typeof form!='undefined'?form.last:''  %> "  required>

        <label for="username">User name:</label>
        <input type="text" id="username" name="username" value="<%= typeof form!='undefined'?form.username:''  %> " required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <label for="confirmPassword"> Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" >

        <label for="picture">Upload Profile Picture:</label>
        <input type="file" name="avatarURL" id="picture">
        
        <% if (locals.errors){ %>
              <% locals.errors.forEach(function(message) {  %>
                <div class="alert alert-danger" role="alert">
                    <li><%= message.msg %></li>
                </div> 
              <% } ); %>
        <% } %>

        <% if(typeof usernameError !='undefined'){%>
            <div class="alert alert-danger" role="alert">
                <li>
                    <%= usernameError  %> 
                </li>
            </div>
        <%  } %>    

        <button>Create account</button>
    </form>
    <a href="/">Back</a>
</body>
</html>